@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    margin-bottom: 25px;
    letter-spacing: 0.1em;
}

.container {
    background-image: linear-gradient(141deg, rgb(159, 184, 173) 0%, rgb(31, 200, 219) 51%, rgb(44, 181, 232) 75%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.cards {
    display: flex;
    height: 45vh;
    width: 60vh;
    /* border: 1px solid black; */
    flex-wrap: wrap;
}

.card {
    width: 15vh;
    height: 15vh;
    /* outline      : 1px solid rgb(255, 200, 0); */
    border: 0px;
    background-color: #ffffff;
}


/* .card::after {
    content: "";
    background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
    border: 0;
    z-index: 10;
} */

.unsolved {
    background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
    border: 0;
    z-index: 10;
}

.open {
    background-color: #ffffff;
    background-image: none;
    /* background-size: 0%; */
}

footer {
    position: absolute;
    bottom: 10px;
    font-size: 10px;
}

footer a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 0.2em;
}

footer a:hover {
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    .cards {
        height: 45vw;
        width: 60vw;
    }
    .card {
        width: 15vw;
        height: 15vw;
    }
}